<div class="contact container">
    <div class="section-title">
        <h2 id="contact">Contact</h2>
    </div>
    <div
        [@text] = 'text'
        inViewport
        [inViewportOptions]="{ threshold: [0] }"
        (inViewportAction)="onIntersection('text',$event)"    
    >
        <div class="contact__description">
            <p>Para ponerte en contacto conmigo, podes hacerlo del siguiente modo</p>
        </div>
        <div class="contact__methods">
            <div class="contact__methods-box">
                <fa-icon class="btn" [icon]="phone"></fa-icon>
                <div class="contact__methods-text"> <span>Phone:</span> <p>11 6614 9940</p> </div>
            </div>
            <div class="contact__methods-box">
                <fa-icon class="btn" [icon]="location"></fa-icon>
                <div class="contact__methods-text"> <span>Location:</span> <p>Lomas de Zamora Bs As</p> </div>
            </div>
        </div>
    </div>
</div>
