<div class="contact container">
    <div class="section-title">
        <h2 id="contact">Contacto</h2>
    </div>
    <div
        [@text] = 'text'
        inViewport
        [inViewportOptions]="{ threshold: [0] }"
        (inViewportAction)="onIntersection('text',$event)"    
    >
        <div class="contact__description">
            <p>Para ponerte en contacto conmigo, podes hacerlo del siguiente modo</p>
        </div>
        <form class="formulario" action="#" disabled>
            <div class="contenedor-campos">
                <div class="campo ">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" required>
                </div>
                <div class="campo ">
                    <label for="correo">Correo</label>
                    <input type="mail" name="correo" id="correo" required>
                </div>
                <div class="campo w-100">
                    <label for="mensaje">Mensaje:</label>
                    <textarea id="mensaje"></textarea>
                </div>
            </div>
            <div class="enviar">
                <input class="boton" type="submit" value="Enviar" >
            </div>
        </form>
    </div>
</div>
