<div class="about container">
    <div>
        <div class="section-title ">
            <H2 id="about">About</H2>
        </div>
        <div
            class="about__skills"
            [@enter]='enter'  
            inViewport
            [inViewportOptions]="{ threshold: [0] }"
            (inViewportAction)="onIntersection($event)"    
        >
        <p class="about__description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. At impedit, natus, et nobis dolores, provident autem maiores repudiandae nam in eius officiis sapiente quam nostrum fugit ea! Saepe, quod id.
        </p>
            <h3>Skills</h3>

            <div class="about__skills-soft">
                <div class="skills-p">
                    <p>Soft skills</p>
                </div>
                <ul class="skills-list">
                    <li><span>&rsaquo;</span> Lorem ipsum</li>
                    <li><span>&rsaquo;</span> Lorem ipsums</li>
                    <li><span>&rsaquo;</span> Lorem ipsum</li>
                    <li><span>&rsaquo;</span> Lorem ipsum</li>
                </ul>
            </div>
            <div class="about__skills-hard">
                <div class="skills-p">
                    <p>Hard skills</p>
                </div>
                <div class="backFront-list">
                    <div class="Front-End">
                        
                        <ul class="skills-list">
                            <li><span>&rsaquo;</span> lorem</li>
                            <li><span>&rsaquo;</span> lorem</li>
                            <li><span>&rsaquo;</span> lorem</li>
                            <li><span>&rsaquo;</span> lorem</li>
                            <li><span>&rsaquo;</span> lorem</li>
                        </ul>
                        
                    </div>
                    <div class="Back-End">

                        <ul class="skills-list">
                            <li><span>&rsaquo;</span> ipsum</li>
                            <li><span>&rsaquo;</span> ipsum</li>
                            <li><span>&rsaquo;</span> ipsum</li>
                            <li><span>&rsaquo;</span> ipsum</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>