<div class="about container">
    <div>
        <div class="section-title ">
            <H2 id="about">Sobre mi</H2>
        </div>
        <div
            class="about__skills"
            [@enter]='enter'  
            inViewport
            [inViewportOptions]="{ threshold: [0] }"
            (inViewportAction)="onIntersection($event)"    
        >
        <p class="about__description">Soy un apasionado por el desarrollo de aplicaciones. Me mantengo en constante aprendizaje, a pesar de que mi experiencia no es mucha, tengo algunos pequeños proyectos personales que realice a modo de practicas, mientras sigo en mi camino de encontrar mi primer experiencia laboral y mejorando mis habilidades como desarrollador. Algunas practicas se encuentran en GitHub.
            
        </p>
            <h3>Habilidades</h3>

            <div class="about__skills-soft">
                <div class="skills-p">
                    <p>Habilidades blandas</p>
                </div>
                <ul class="skills-list">
                    <li><span>&rsaquo;</span> Responsabilidad</li>
                    <li><span>&rsaquo;</span> Empatía</li>
                    <li><span>&rsaquo;</span> Escucha activa</li>
                    <li><span>&rsaquo;</span> Trabajo en equipo</li>
                    <li><span>&rsaquo;</span> Sociable</li>
                    <li><span>&rsaquo;</span> Resolucion de problemas</li>
                </ul>
            </div>
            <div class="about__skills-hard">
                <div class="skills-p">
                    <p>Habilidades duras</p>
                </div>
                <div class="backFront-list">
                    <div class="Front-End">

                        <div class="front-modal">
                            hola
                            <!-- 
                        <ul class="skills-list">
                            <li><span>&rsaquo;</span> HTML5</li>
                            <li><span>&rsaquo;</span> CSS3</li>
                            <li><span>&rsaquo;</span> Sass</li>
                            <li><span>&rsaquo;</span> Bootstrap</li>
                        </ul>
                        <ul class="skills-list">
                            <li><span>&rsaquo;</span>JavaScript</li>
                            <li><span>&rsaquo;</span> Angular</li>
                            <li><span>&rsaquo;</span> Jquery</li>
                        </ul> -->
                        </div>
                        
                        
                    </div>
                    <div class="Back-End">
                        <div class="back-modal"> 
                        <!-- 
                        <ul class="skills-list">
                            <li><span>&rsaquo;</span> SQL</li>
                            <li><span>&rsaquo;</span> MySQL</li>
                            <li><span>&rsaquo;</span> Python</li>
                            <li><span>&rsaquo;</span> Flask</li>
                        </ul>
                        <ul class="skills-list">
                            <li><span>&rsaquo;</span> TypeScript</li>
                            <li><span>&rsaquo;</span> Git</li>
                            <li><span>&rsaquo;</span> GitHub</li>
                        </ul> -->
                        </div>
                    
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>