<div class="about container">
    <div class="section-title about__description">
        <H2>About</H2>
        <p> Cuento con un perfil analítico y proactivo, orientado al trabajo en equipo.
            Excelentes relaciones interpersonales, experiencia teniendo trato con 
            clientes y proveedores.
            Capacidad para el aprendizaje e incorporación de nuevos conocimientos.
        </p>
    </div>
    <div class="about__skills">
        <h3>Skills</h3>

        <div class="about__skills-soft">
            <div class="skills-p">
                <p>Soft skills</p>
            </div>
            <ul class="skills-list">
                <li><span>&rsaquo;</span> Trabajo en equipo</li>
                <li><span>&rsaquo;</span> Resolucion de problemas</li>
                <li><span>&rsaquo;</span> Proactivo</li>
                <li><span>&rsaquo;</span> Aprendizaje permanente</li>
            </ul>
        </div>
        <div class="about__skills-hard">
            <div class="skills-p">
                <p>Hard skills</p>
            </div>
            <div class="backFront-list">
                <div class="Front-End">
                    
                    <ul class="skills-list">
                        <li><span>&rsaquo;</span> HTML</li>
                        <li><span>&rsaquo;</span> CSS</li>
                        <li><span>&rsaquo;</span> SASS</li>
                        <li><span>&rsaquo;</span> Javascript</li>
                        <li><span>&rsaquo;</span> Angular</li>
                    </ul>
                </div>
                <div class="Back-End">
                    <ul class="skills-list">
                        <li><span>&rsaquo;</span> Python</li>
                        <li><span>&rsaquo;</span> JAVA</li>
                        <li><span>&rsaquo;</span> SpringBoot</li>
                        <li><span>&rsaquo;</span> Api REST</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>