<div class="project container">
    <div class="section-title">
        <h2 id="projects">Practicas</h2>
    </div>
    <div class="projects">
        <div class="project__introduction">
            <p>los siguientes  son algunos de las practicas que realice en los cursos que tome, asi como ideas propias para poder usar las tecnologias que fui aprendiendo</p>
        <div>
             <h4 class="project__introduction-subtitle">Lista de proyectos</h4>
        <div>
            <div
                class="project__container"
                inViewport
                [inViewportOptions]="{ threshold: [0] }"
                (inViewportAction)="onIntersection($event)"    
            >
            <!--START PROJECT CONTA-->
                <div 
                    class="project__card"
                    [@enter]='enter'
                >
                    <div class="project__card-content">
                        <div class="icon" >
                            <fa-icon [icon]="less"></fa-icon>
                            <i class="margiin">&#47;</i>
                            <fa-icon [icon]="greater"></fa-icon>
                        </div>
                        <h5>App del Clima</h5>
                        <h5 class="text_after">Puedes visualizar el proyecto completo aqui...</h5>
                        <p>Realizada con Angular</p>
                        <div class="project__card-btn">
                            <div class="btn-project">
                                <a href="https://github.com/MaurSc/WeatherApp" title="repository" target="_blank"><fa-icon [icon]="github"></fa-icon></a>
                            </div>
                            <div class="btn-project">
                                <a href="https://getuweather.netlify.app/" title="demo" target="_blank"><fa-icon [icon]="link"></fa-icon></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            <!--END PROJECT CONTA-->
            <!--START PROJECT CONTA-->
                <div 
                    class="project__card"
                    [@enter]='enter'
                >
                    <div class="project__card-content">
                        <div class="icon" >
                            <fa-icon [icon]="less"></fa-icon>
                            <i class="margiin">&#47;</i>
                            <fa-icon [icon]="greater"></fa-icon>
                        </div>
                        <h5>App Citas aleatorias</h5>
                        <h5 class="text_after">Puedes visualizar el proyecto completo aqui...</h5>
                        <p>Realizada con Angular</p>
                        <div class="project__card-btn">
                            <div class="btn-project">
                                <a href="https://github.com/MaurSc/Quotes-Random-Machine" title="repository" target="_blank"><fa-icon [icon]="github"></fa-icon></a>
                            </div>
                            <div class="btn-project">
                                <a href="https://quotesmachine.netlify.app/" title="demo" target="_blank"><fa-icon [icon]="link"></fa-icon></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            <!--END PROJECT CONTA-->
            <!--START PROJECT CONTA-->
                <div 
                    class="project__card"
                    [@enter]='enter'
                >
                    <div class="project__card-content">
                        <div class="icon" >
                            <fa-icon [icon]="less"></fa-icon>
                            <i class="margiin">&#47;</i>
                            <fa-icon [icon]="greater"></fa-icon>
                        </div>
                        <h5>Calculadora</h5>
                        <h5 class="text_after">Puedes visualizar el proyecto completo aqui...</h5>
                        <p>Realizada con Html, Css y jQuery</p>
                        <div class="project__card-btn">
                            <div class="btn-project">
                                <a href="https://codepen.io/Mocon123/pen/dyJqXVa" title="repository" target="_blank"><fa-icon [icon]="github"></fa-icon></a>
                            </div>
                            <div class="btn-project">
                                <a href="https://codepen.io/Mocon123/full/dyJqXVa" title="demo" target="_blank"><fa-icon [icon]="link"></fa-icon></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            <!--END PROJECT CONTA-->
            <!--START PROJECT CONTA-->
                <div 
                    class="project__card"
                    [@enter]='enter'
                >
                    <div class="project__card-content">
                        <div class="icon" >
                            <fa-icon [icon]="less"></fa-icon>
                            <i class="margiin">&#47;</i>
                            <fa-icon [icon]="greater"></fa-icon>
                        </div>
                        <h5>Libro de contactos</h5>
                        <h5 class="text_after">Puedes visualizar el proyecto completo aqui...</h5>
                        <p>Realizada con Flask, bootstrap y sqllite</p>
                        <div class="project__card-btn">
                            <div class="btn-project">
                                <a href="https://github.com/MaurSc/contactbook" title="repository" target="_blank"><fa-icon [icon]="github"></fa-icon></a>
                            </div>
                            <div class="btn-project">
                            </div>
                        </div>
                        
                    </div>
                </div>
            <!--END PROJECT CONTA-->
            </div>
        </div>
    <div>
</div>