<div class="project container">
    <div class="section-title">
        <h2 id="projects">Projects</h2>
    </div>
    <div class="projects">
        <div class="project__introduction">
            <p>los siguientes  son alggunos de mis pryectos que reaice en llos cursos que tome, asi como ideas popiias para poder practicar las tecnologias que fui estudiando</p>
        <div>
        <div>
            <h4 class="project__introduction-subtitle">Lista de proyectos</h4>
            
            <div
                class="project__container"
                inViewport
                [inViewportOptions]="{ threshold: [0] }"
                (inViewportAction)="onIntersection($event)"    
            >
                <div 
                    class="project__card"
                    [@enter]='enter'
                >
                    <div class="project__card-content">
                        <div class="icon" >
                            <fa-icon [icon]="less"></fa-icon>
                            <i class="margiin">&#47;</i>
                            <fa-icon [icon]="greater"></fa-icon>
                        </div>
                        <h5>Calculadora</h5>
                        <h5 class="text_after">Puedes visualizar el prroyecto completo aqui...</h5>
                        <p>Realizada con HTML, CSS y Jquery</p>
                        <div class="project__card-btn">
                            <div class="btn-project">
                                <a href="" title="repository"><fa-icon [icon]="github"></fa-icon></a>
                            </div>
                            <div class="btn-project">
                                <a href="" title="demo"><fa-icon [icon]="link"></fa-icon></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    <div>
</div>