body, html {
  height: 100%;
}
body {
  font-weight: 100;
  display: flex;
  overflow: hidden;
}
input {
  &:focus {
    outline: 0 transparent solid;
  }
}

.login-form {
    position: absolute;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    right: 0;
    margin: auto;
    min-height: 10rem;
    max-width: 300px;
    padding: .5rem;
    .login-text {
        background-color: white;
        margin: 0 auto;
        padding: .5rem;
        text-align: center;
        border-radius:50%;
        width:40px;
        height:40px;
        fa-icon {
            font-size:20px;
            color: black;
        }
    }
    .login-username, .login-password {
        background: transparent;
        border: 0 solid;
        border-bottom: 1px solid rgba(white, .5);
        color: white;
        display: block;
        margin: 1rem;
        padding: .5rem;
        transition: 250ms background ease-in;
        width: calc(100% - 3rem);
        &:focus {
            background: white;
            color: black;
            transition: 250ms background ease-in;
        }
    }
    .login-submit {
    border: 1px solid white;
    background: transparent;
    color: white;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: .25rem;
    transition: 250ms background ease-in;
    &:hover, &:focus {
        background: white;
        color: black;
        transition: 250ms background ease-in;
    }
    }
}
[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}
.underlay-photo {
  animation: hue-rotate 6s infinite;
  background: url('../../../assets/images/bg.png');
  background-size: cover;
  z-index: -1;
}
.underlay-black {
  background: rgba(0,0,0,0.5);
  z-index: -1;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}