@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Krub/Krub.eot);
  src: local('Krub'), url(../fonts/Krub/Krub.eot?#iefix) format('embedded-opentype'), url(../fonts/Krub/Krub.woff2) format('woff2'), url(../fonts/Krub/Krub.svg#Krub) format('svg'), url(../fonts/Krub/Krub.ttf) format('truetype'), url(../fonts/Krub/Krub.woff) format('woff');
}

@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Krub/Krub-normal-700.woff2) format('woff2'), url(../fonts/Krub/Krub-normal-700.ttf) format('truetype'), url(../fonts/Krub/Krub-normal-700.woff) format('woff');
}
