<div  class="resume container">
    <div class="section-title">
        <h2 id="resume" >Resume</h2>
    </div>
    <div
        [@workH]='workH'
        inViewport
        [inViewportOptions]="{ threshold: [0] }"
        (inViewportAction)="onIntersection('workH',$event)"    
    >
        <h3>
            Employment History
        </h3>
        <div class="resume__item">
            <h4 class="resume__item-site">Lorem</h4>
            <p  class="resume__item-date">Diciembre/2019 - Actualidad</p>
            <p class="resume__item-description"> <span>Lorem ipsum</span>
                <br/>
                Mis principales tareas:
                <br/>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae suscipit voluptates eos distinctio a dignissimos, eaque deserunt illo libero temporibus nisi voluptatibus ullam recusandae fuga harum? Neque similique soluta illum.
        </div>
    </div>
    <div
    [@education]='education'
    inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection('education',$event)"
    >
        <h3>
            Education
        </h3>
        <div class="resume__item">
            <h4 class="resume__item-site">Argentina Programa</h4>
            <p  class="resume__item-date">2022 - actualidad</p>
            <p class="resume__item-description"> <span>Desarrollo full stack</span>
            <br/>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id sequi autem fugiat ipsa repellat maiores. Optio ipsum ipsam nostrum molestias? Qui, in quaerat. Sunt beatae dignissimos voluptates ab tempore est.
            </p>
            <br/>
            <div class="certificado">
                <a href="aqui ira mi titulo"><img src="https://img.icons8.com/ios/30/000000/certificate.png"/>
                </a>
            </div>
        </div>
        <div class="resume__item">
            <h4 class="resume__item-site">Lorem impsum</h4>
            <p  class="resume__item-date">2022 - actualidad</p>
            <p class="resume__item-description"> <span>amet consectetur adipisicing</span>
            <br/>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id sequi autem fugiat ipsa repellat maiores. Optio ipsum ipsam nostrum molestias? Qui, in quaerat. Sunt beatae dignissimos voluptates ab tempore est.
            </p>
            <br/>
            <div class="certificado">
                <a href="aqui ira mi titulo"><img src="https://img.icons8.com/ios/30/000000/certificate.png"/>
                </a>
            </div>
        </div>

    </div>  
        

</div>
