<div  class="resume container">
    <div class="section-title">
        <h2 id="resume" >Resumen</h2>
    </div>
    <div
        [@workH]='workH'
        inViewport
        [inViewportOptions]="{ threshold: [0] }"
        (inViewportAction)="onIntersection('workH',$event)"    
    >
        <h3>
            Historial de empleo
        </h3>
        <div class="resume__item">
            <h4 class="resume__item-site">Dikter S.A</h4>
            <p  class="resume__item-date">Diciembre/2019 - Actualidad</p>
            <p class="resume__item-description"> <span>Vendedor / Cajero</span>
                <br/>
                Mis principales tareas:
                <br/>
                Atención y asesoramiento al cliente sobre indumentaria masculina.
                Tareas referentes a la facturación y
                tareas para al mantenimiento del local.
        </div>
    </div>
    <div
    [@education]='education'
    inViewport
    [inViewportOptions]="{ threshold: [0] }"
    (inViewportAction)="onIntersection('education',$event)"
    >
        <h3>
            Educacion
        </h3>

        <!--START OF ITEM-->
        <div class="resume__item">
            <h4 class="resume__item-site">UAI</h4>
            <p  class="resume__item-date">abril/2021 - (en pausa)</p>
            <p class="resume__item-description"> <span>Analista programador</span>
            <br/>
                Tecnicatura universitaria en sistemas, solo realice un año por un tema de que luego se me complico poder pagarlo, pero me gustaria retomarlo cuando tenga la oportunidad, aprendi mucho en poco tiempo.
            </p>
            <br/>
        </div>
        <!--END OF ITEM-->
        <!--START OF ITEM-->
        <div class="resume__item">
            <h4 class="resume__item-site">Argentina Programa</h4>
            <p  class="resume__item-date">Enero/2022 - actualidad</p>
            <p class="resume__item-description"> <span>Desarrollo Web full stack</span>
            <br/>
                En este curso estoy aprendiendo las tecnologias que me permitiran desarrollar una app web, tanto del lado del cliente como del lado del servidor. Entre ellas, Angular 2, Spring Boot, MySQL. Asi como tambien Git para el manejo del versionado.
            </p>
            <br/>
        </div>
        <!--END OF ITEM-->
        <!--START OF ITEM-->
        <div class="resume__item">
            <h4 class="resume__item-site">Argentina Programa</h4>
            <p  class="resume__item-date">Octubre/2021 - Diciembre/2021</p>
            <p class="resume__item-description"> <span>Se programar</span>
            <br/>
               En este curso aprendi fundamentos de programacion, imperativa y POO, utilice JavaScript y Ruby.
            </p>
            <br/>
            <div class="certificado">
                <a href="https://mumuki.io/argentina-programa/certificates/verify/wk8nOica65Gm4Xtl"><img src="https://img.icons8.com/ios/30/000000/certificate.png"/>
                </a>
            </div>
        </div>
        <!--END OF ITEM-->
        <!--START OF ITEM-->
        <div class="resume__item">
            <h4 class="resume__item-site">Free CodeCamp</h4>
            <p  class="resume__item-date">junio/2021 - Diciembre/2021</p>
            <p class="resume__item-description"> <span>Web Design / JS Algorithms - DataStructures</span><br/>
                Realice estos dos cursos de diseño responsive con CSS3, HTML5, y programacion con JavaScript.
            </p>
            <br/>
            <div class="certificado">
                <a title="Web Design" href="https://freecodecamp.org/certification/maurosc/responsive-web-design"><img src="https://img.icons8.com/ios/30/000000/certificate.png"/>
                </a>
                <a title="JavaScript" href="https://freecodecamp.org/certification/maurosc/javascript-algorithms-and-data-structures"><img src="https://img.icons8.com/ios/30/000000/certificate.png"/>
                </a>
            </div>
        </div>
        <!--END OF ITEM-->
        <!--START OF ITEM-->
        <div class="resume__item">
            <h4 class="resume__item-site">HarvardX CS50's</h4>
            <p  class="resume__item-date">Diciembre/2020 - Junio/2021</p>
            <p class="resume__item-description"> <span>Introduction to Computer Science</span>
            <br/>
                Curso intensivo sobre introduccion a la ciencia de la computacion. Entre las cosas que vi, estructuras de datos, algoritmos, utilizando C y Python. Como proyecto final cree un CRUD, el cual se encuentra en mi repositorio de Github.
            </p>
            <br/>
            <div class="certificado">
                <a href="https://cs50.harvard.edu/certificates/01a588a0-236f-4338-88ba-6c5ee3a3df92"><img src="https://img.icons8.com/ios/30/000000/certificate.png"/>
                </a>
            </div>
        </div>
        <!--END OF ITEM-->
        <!--START OF ITEM-->
        <div class="resume__item">
            <h4 class="resume__item-site">Instituto MAS</h4>
            <p  class="resume__item-date">Marzo/2017 - Diciembre/2017</p>
            <p class="resume__item-description"> <span>Ofimatica</span>
            <br/>
                Aprendi a utilizar el paquete Office 2016.
            </p>
            <br/>
        </div>
        <!--END OF ITEM-->
    </div>  
</div>
