<div 
    class="navigation"
    [@navAnimation]="navBar"    
>
    <img    class="nav-image"
            src="https://lh3.googleusercontent.com/1ukpHbga-tPHUaw3UVf7GND0uFYKcP82WG1R010zZWmRb4sV2-G-OonSTw1wtDLJajX0K4yb9aUbf7hefjzXmQlIC47xNl-Rp1O59AqweCGk7dNfEAEw3TBURrZ79lKJnmVjahqJ4w=w2400" 
            alt="image-mauro"
    />
    <p class="nav-text">Mauro Calvo</p>
    <div class="nav-contact">
        <a  href='https://www.linkedin.com/in/mauro-sebastian-calvo-905937163/?originalSubdomain=ar' 
            target='_blank'
        >
            <fa-icon [icon]="linkedIn"></fa-icon>
        </a>
        <a  href='https://github.com/MaurSc' 
            target='_blank'
        >
            <fa-icon [icon]="github"></fa-icon>
        </a>
    </div>
    <nav class="nav-links">
        <a 
            href="index#" 
            (click)="hideNavForL($event)">
            <fa-icon [icon]="home"></fa-icon> 
            Inicio 
        </a>
        <a 
            href="index#about"  
            (click)="hideNavForL($event)">
            <fa-icon [icon]="about"></fa-icon> 
            Sobre mi 
        </a>
        <a 
            href="index#resume"  
            (click)="hideNavForL($event)">
            <fa-icon [icon]="resume"></fa-icon> 
            Resumen 
        </a>
        <a 
            href="index#projects"  
            (click)="hideNavForL($event)">
            <fa-icon [icon]="projects"></fa-icon> 
            Practicas 
        </a>
        <a 
            href="index#contact" 
            (click)="hideNavForL($event)">
            <fa-icon [icon]="contact"></fa-icon> 
            Contacto
        </a>
    </nav>
</div>
