<div 
    class="navigation"
    [@navAnimation]="navBar"    
>
    <img    class="nav-image"
            src="../../../assets/images/perfil.png" 
            alt="image-mauro"
    />
    <p class="nav-text">Mauro Calvo</p>
    <div class="nav-contact">
        <a  href='https://www.linkedin.com/in/mauro-sebastian-calvo-905937163/?originalSubdomain=ar' 
            target='_blank'
        >
            <fa-icon [icon]="linkedIn"></fa-icon>
        </a>
        <a  href='https://github.com/MaurSc' 
            target='_blank'
        >
            <fa-icon [icon]="github"><a href='#'></a></fa-icon>
        </a>
    </div>
    <nav class="nav-links">
        <a href="#">
            <fa-icon [icon]="home"></fa-icon> 
            Home 
        </a>
        <a href="#">
            <fa-icon [icon]="about"></fa-icon> 
            About 
        </a>
        <a href="#">
            <fa-icon [icon]="resume"></fa-icon> 
            Resume 
        </a>
        <a href="#">
            <fa-icon [icon]="projects"></fa-icon> 
            Projects 
        </a>
        <a href="#">
            <fa-icon [icon]="contact"></fa-icon> 
            Contact 
        </a>
    </nav>
</div>
